@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #242a28; */
  background: rgb(25, 24, 24);
  font-weight: bolder;
}

.container {
  margin: auto;
  width: 60%;
}

.box {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

input {
  margin: 5px 0;
  width: 100%;
}

button {
  color: white;
  background-color: rgb(76, 20, 128);
  border: 0;
  margin: 10px 0 0 0;
  padding: 5px 10px 5px 10px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li p {
  padding: 5px;
  margin: 5px;
  border: 2px solid rgb(218, 210, 210);
}
